.image-container{
    background-color: rgb(13, 13, 88);
    color:white;
    height: 100px;
    padding: 15px;
    text-align: center;
    bottom: 20px;
}
.underline {
    position: absolute;
    margin-top: 80px;
    width: 250px;
    height: 2px; 
    background-color: #000; 
}
img{
    height: 130%;
    float: left;
    margin-top: -60px;
    margin-left: 20px;
    width: 15%;
    text-decoration: underline;
}
.contact{
    text-align: left;
    margin-top:60px ;
}
.underline2{
    position: absolute;
    margin-top: -5px;
    width: 250px;
    height: 2px; 
    background-color: #000; 
}
.details{
    margin-top: 30px;
    
}
.unorder1{
    margin-top: -10px;
   
}
.unorder{
    margin-top: -15px;
    
}
.education{
    margin-right: 850px;
    margin-top: -480px;
    font-size: 22px;
}
.study{
    margin-left: 305px;
    margin-top: 15px;
    
}
#demo1{
    margin-top: -15px;
}
.underline3{
    position: absolute;
    margin-top: -5px;
    width: 850px;
    height: 2px; 
    background-color: #000; 

}